<!DOCTYPE html>
<html lang="en">
  <%- include("../views/layout/head.ejs") %>
  <body>
    <%- include("../views/layout/header.ejs") %>
    <div class="intro">
      <div class="container-s" id="find"><h1 class="welcome">Find Your New Provider</h1></div>
      <div class="container-l" id="landing">
        <p class="landing">
          The World Health Organization (WHO) defines social determinants of health (SDH) as systems which shape the conditions of daily life. Access to health care is one such condition.
        </p>
        <p class="landing">
          Provider Find app is designed to promote a culture of health and well-being. Provider Find impacts health care access for users by allowing them to quickly obtain current medical providers and services available within their communities.
        </p>
      </div>
      <button type="submit" id="finderButton" click="submit">
        Get Started!
      </button>
      <%- include("../views/pages/finderForm.ejs") %>
    </div>
    <%- include("../views/layout/footer.ejs") %>
    <%- include("../views/layout/scripts.ejs") %>
  </body>
</html>