<!DOCTYPE html>
<html lang="en">
<%- include("../layout/results-head.ejs") %>
<body>
  <%- include("../layout/header.ejs") %>
  <div>
    <div class="container-s">
      <h1 class="welcome">Results</h1>
        </div> <!--TODO: write forEach loop to iterate through 10 providers found-->
          <ul class="results-list"> <!--TODO: build out ejs data-->
            <% doctor.forEach( el => { %>
              <div class="container-m result">
              <li><div class="center"><img class="prof-pic" src="<%= el.profile.image_url %>"></li>
              <li class="details"><span class="attributes">Name:</span> <%= el.profile.first_name %> <%= el.profile.last_name %>, <%= el.profile.title %></li>
              <li class="details"><span class="attributes">Insurance:</span> <%= el.insurances[0].insurance_plan.name %></li>
              <li class="details"><span class="attributes">Practice:</span> <%= el.practices[0].name %></li>
              <li class="details"><span class="attributes">Address:</span> <%= el.practices[0].visit_address.street %>, <%= el.practices[0].visit_address.city %>, <%= el.practices[0].visit_address.state %> <%= el.practices[0].visit_address.zip %></li>
              <li class="details"><span class="attributes">Specialties:</span> <%= el.specialties[0].name %></li>
            </div>
            <% }) %>
          </ul>
        </div>
      <div class="container-s reset"><a class="reset-location" href="/">RESET LOCATION</a></div>
    </div>
  <%- include("../layout/footer.ejs") %>
  <%- include("../layout/scripts.ejs") %>
</body>
</html>

